@import "./../_globals";

.view {
    &__all {
        @include display-flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content:flex-start;
    }
}

.content {
    &__title {
        font-family: "Arvo", sans-serif;
        font-weight: bold;
        padding-bottom: 10px;
        font-size:$base-font-size * 2;
    }

    &__description {
        padding-bottom: 10px;
        max-width:500px;
    }

    &__link {
        color:$font-color;
        text-decoration: none;
        font-size:$base-font-size * 1.25;
        &:hover {
            text-decoration: underline;
        }
    }

    &__icon {
        border-radius:10px;
        margin-right: 5px;
    }

    &--viewall {
        @include display-flex;
        flex-direction: row;
        flex-wrap: nowrap;
        margin-bottom:20px;
        & > div {
            margin-right:10px;
        }
    }    
}