@import "./../_globals";

.error {
    @include display-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items:center;

    &__frown {
        font-family: "Arvo", sans-serif;
        font-weight: bold;
        padding-bottom: 10px;
        font-size:$base-font-size * 5;
    }

    &__message {
        padding-left:20px;
        font-family: "Arvo", sans-serif;
        font-size:$base-font-size * 1.5;
    }

}